<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbRippleRadius>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light disabled" mdbRippleRadius>Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light disabled" mdbRippleRadius>Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light disabled" mdbRippleRadius>Involvement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light disabled" mdbRippleRadius>Contact</a>
            </li>
        </ul>
</mdb-navbar>