<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark stylish-color">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link waves-light" mdbRippleRadius>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbRippleRadius>Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbRippleRadius>Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbRippleRadius>Involvement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbRippleRadius>Contact</a>
        </li>
    </ul>
</mdb-navbar>