body {
  background-color: #B0B6B2;
  margin: 0;
  padding: 0;
  position: relative;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
  color: #010B06
}
.sidenav li {
  /* display: inline; */
  list-style-type: none;
  margin: 0;
}
.sidenav {
  background-color: #1B1B1B;
  padding: 0;
  height: 100%; /* 100% Full-height */
  /* z-index: 1;
  top: 0;  */
  left: 0;
  overflow-x: hidden;          /* Disable horizontal scroll */
  transition: 0.5s;           /* 0.5 second transition effect to slide in the sidenav */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  position: fixed;
  -webkit-padding-start: 0;
}
.sidenav li a {
  color: #B0B6B2;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 10px;
  display: block;
  transition: 0.3s;
}
.sidenav li a:hover {
  color: #f1f1f1;
}
.content {
  background-color: #81C784;
  padding-left: 100px;
  /* margin: 100px */
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.bottomSpacer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #2396dd;
  color: #FFFFFF;
}

html, body {
  margin: 0;
  height: 100%;
}